{% extends 'main/loyout.html' %}

{% block title %} about us {% endblock %}

{% block content %}
<div class="features">
    <h1> О нас </h1>
    <p>Каждый новый день — это шанс стать лучше. Неважно, насколько маленький шаг ты сделаешь сегодня, главное — продолжать двигаться вперед. Будь настойчивым, верь в себя и не сдавайся. Даже если на пути будут трудности, они лишь делают тебя сильнее.

У тебя все получится! 🚀✨</p>
    <button class="btn btn-warning">На страницу про нас</button>
</div>
{% endblock %}